*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.ht
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
out
.idea/
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
_excluded/
_excluded